<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
    <div layout="column" layout-align="space-between">
      <div class="title" > Alquileres<strong></strong> </div>
    </div>
    <!--
    <div layout="row" layout-align="space-between">
      <md-button class="md-raised md-primary" ng-href="{{googleUrl}}" ng-click="vm.modalCreateEquipo()" target="_blank">
        <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nuevo Equipo</md-button>
      <md-button class="md-raised md-primary" ng-href="{{googleUrl}}" ng-click="vm.modalCreateCategoria()" target="_blank">
        <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nueva categoria</md-button>
    </div>-->
  </div>
  <!-- / HEADER -->

    <!-- BASIC FORM -->
    <div class="form-wrapper md-whiteframe-1dp" >

    </div>
    <!-- / BASIC FORM -->

    <div class="content" ng-cloak="">

        <div>
            <div  class="white-bg md-whiteframe-4dp">
                  <table class="table table-responsive table-hover dataTable row-border hover" datatable="ng"
                         dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Cedula</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Nombre</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Telefono</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Total</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Estado</span>
                            </div>
                        </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Ver más</span>
                        </div>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.Alquileres">
                        <td>{{ item.cedula}}</td>
                        <td>{{item.name + itrem.apellido }}</td>
                        <td>{{item.telefono }}</td>
                        <td>{{item.fecha }}</td>
                        <td>{{item.total }}</td>
                        <td>{{item.estado }}
                            <md-button  ng-if="item.estado=='pendiente'" class="edit-button md-icon-button" ng-click="vm.goFacturacion(item)" text="Facturar" >
                                <md-icon md-font-icon="icon-cash-100" class="s30" style="color:green;"></md-icon>
                            </md-button>
                        </td>
                        <td>
                          <md-button class="edit-button md-icon-button" ng-click="vm.modalCreateCategoria(item)" text="Ver detalle"
                                     translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
                          <md-icon md-font-icon="icon-eye" class="s30" style="color:cornflowerblue;"></md-icon>
                          </md-button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
