<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
    <div layout="column" layout-align="space-between">
      <div class="title" > Administracion de <strong>Equipos</strong> </div>
    </div>
    <div layout="row" layout-align="space-between">
      <md-button class="md-raised md-primary" ng-href="{{googleUrl}}" ng-click="vm.modalCreateEquipo()" target="_blank">
        <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nuevo Equipo</md-button>
      <md-button class="md-raised md-primary" ng-href="{{googleUrl}}" ng-click="vm.modalCreateCategoria()" target="_blank">
        <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nueva categoria</md-button>
    </div>
  </div>
  <!-- / HEADER -->

    <!-- BASIC FORM -->
    <div class="form-wrapper md-whiteframe-1dp" >

    </div>
    <!-- / BASIC FORM -->

    <div class="content" ng-cloak="">

        <div>
            <div  class="white-bg md-whiteframe-4dp">
                <table class="dataTable row-border hover" datatable="ng" >
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Id</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Cliente</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Telefono</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Direccion</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Inicial</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Final</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.Alquileres">
                        <td>{{ item.alquilerId}}</td>
                        <td>{{item.nombreCliente }}</td>
                        <td>{{item.telefono }}</td>
                        <td>{{item.direccion }}</td>
                        <td>{{item.fechaInicial }}</td>
                        <td>{{item.fechaFinal }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
