<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
        <div layout="column" layout-align="space-between">
            <div class="title"> <strong>Gestion Usuarios</strong></div>
        </div>
      <div layout="row" layout-align="space-between">
        <md-button class="md-raised "  ng-click="vm.state()" target="_blank">
          <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nueva Usuario</md-button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
  <div class="content" layout="column">

    <div class="card md-whiteframe-4dp" layout="column">

      <table class="table table-responsive table-hover dataTable" datatable="ng"
             dt-options="vm.dtOptions">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Cedula</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Nombres</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Apellidos</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Telefono</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Email</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Rol</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Opciones</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.usuarios">
          <td>{{user.cedula}}</td>
          <td>{{user.name}}</td>
          <th>{{user.apellido }}</th>
          <td>{{user.telefono}}</td>
          <td>{{user.email}}</td>
          <td>{{user.rol}}</td>
          <td>
            <md-button class="edit-button md-icon-button" ng-click="vm.showEventDetailDialog(user)" aria-label="Product details"
                       translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
              <md-icon md-font-icon="icon-pencil" class="s30"></md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>




    </div>

  </div>
    <!-- / CONTENT -->

</div>
