<md-dialog class="event-form-dialog" aria-label="New Message">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.dialogTitle}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

      <md-dialog-content ms-scroll>
        <label>Datos Personales </label>

          <md-input-container class="md-block">
            <label>Nombre </label>
            <input name="title" ng-model="vm.usuario.nombre" required md-autofocus disabled>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Telefono </label>
            <input name="title" ng-model="vm.usuario.telefono" required md-autofocus disabled>
          </md-input-container>



      </md-dialog-content>

      <md-dialog-content ms-scroll>

        <div class="container">
          <div layout="row" layout-align="space-between">
            <label>Equipos Requeridos </label>
            <md-button class="add-event-button md-fab " ng-click="vm.nuevoEquipo()"
                       aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
              <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>
          </div>

          <div layout="row" layout-align="space-between" ng-repeat="item in vm.equiposSelecciones">
            <md-input-container class="md-block">
              <label>Equipo </label>
              <md-select ng-model="item.equipos_id" md-selected-text="">
                <md-optgroup label="Seleccione el equipo">
                  <md-option ng-value="item.id" ng-repeat="item in vm.equipos"> {{item.descripcion}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Cantidad </label>
              <input name="title" ng-model="item.cantidad" required md-autofocus >
            </md-input-container>
            <md-input-container class="md-block">
              <label>Fecha </label>
              <input  type="date" name="title" ng-model="item.fecha" required md-autofocus >
            </md-input-container>
          </div>
        </div>



      </md-dialog-content>


      <md-dialog-actions>
        <md-button class="save-button md-accent md-raised" ng-click="vm.createPedido()">
          Reservar
        </md-button>
      </md-dialog-actions>



    </form>
</md-dialog>
