<div class="page-layout simple fullwidth doc-page" layout="column">



  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px; min-height: 100px; max-height: 100px;">
    <div layout="column" layout-align="space-between">
      <div class="title" > Administracion de <strong>Equipos</strong> </div>
    </div>
    <div layout="row" layout-align="space-between">
      <md-button class="md-raised md-primary" ng-href="{{googleUrl}}" ng-click="vm.modalCreateEquipo()" target="_blank">
        <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nuevo Equipo</md-button>
      <md-button class="md-raised md-primary" ng-href="{{googleUrl}}" ng-click="vm.modalCreateCategoria()" target="_blank">
        <md-icon  md-font-icon="icon-plus"  class="s20" ></md-icon> Nueva categoria</md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- HEADER -
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row"  style="color:white;"layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s32" style="color:white;"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" style="color:white;" class="s32 separator"></md-icon>
        <span class="parent" style="color:white;"><h2>Mi Historial</h2></span>
      </div>
      <div class="title">Todas Mis Reuniones </div>
      <span class="parent" style="color:white;"> <h5>Historico de reuniones del usuario</h5></span>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" layout="column">

    <div class="card md-whiteframe-4dp" layout="column">

      <table class="table table-responsive table-hover dataTable row-border hover" datatable="ng"
             dt-options="vm.dtOptions">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">ID</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Descripcion</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Inventario</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Disponibles </span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Alquilado</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Modelo</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Categoria</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Valor x Dia</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Estado</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Opciones</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in vm.products">
          <td>{{product.id}}</td>
          <td>{{product.descripcion}}</td>
          <th>{{ product.totalExistencias| number}}</th>
          <th>{{product.cantidad | number}}</th>
          <th>{{product.totalExistencias-product.cantidad }}</th>
          <td>{{product.modelo}}</td>
          <td>{{product.nombrecategoria}}</td>
          <td>{{product.valor}}</td>
          <td>
              <md-icon  ng-if="product.cantidad >1 " md-font-icon="icon-check-circle"  class="s30" style="color:green;"></md-icon>
              <md-icon  ng-if="product.cantidad <1 " md-font-icon="icon-cancel" class="s30" style="color:red;" ></md-icon>
          </td>
          <td>
            <md-button class="edit-button md-icon-button" ng-click="vm.showEventDetailDialog(product)" aria-label="Product details"
                       translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
              <md-icon md-font-icon="icon-pencil" class="s30"></md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>




    </div>

  </div>
  <!-- / CONTENT -->

</div>
